<!DOCTYPE html>
<html>

<head>
  <title>Motel los Troncos</title>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="css/estilos.css">
 <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">


 
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse 
 fixed-top  ">
    
    <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand "><img src="img/motel.jpg" style="max-width: 100px;" /></a> 
     <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class=" navbar-nav ml-auto ">
            <li class=" nav-item active ">
            		<a  data-scroll="data-scroll" href="./login.html" class="nav-link ">Login<span class="sr-only">(current)</span></a>
            </li>
         

            <li class="nav-item">
            		<a data-scroll="data-scroll" href="./habitaciones.html" class="nav-link">Estado Actual</a>
            </li>
            
            <li class="nav-item">
              <a data-scroll="data-scroll" href="./ingreso_cliente.html" class="nav-link">Ingreso cliente</a>
            </li>

        </ul>
    </div> 
    </nav>



<div style="padding-top: 70px; color: black" class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Numero habitacion</th>
				<th>Hora de entrada</th> 
				<th>Estado</th>
				<th>cantidad de horas</th>
				<th></th>
			</tr>
			<tbody>
				<tr>
					<th>1</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>3</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>4</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>5</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>6</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>7</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>8</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>9</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>10</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>11</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>12</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>13</th>
					<td>21:50</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>14</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>15</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>6</td>
				</tr>
				<tr>
					<th>16</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>17</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>18</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>19</th>
					<td>17:12</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>20</th>
					<td>Disponible</td>
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
				<tr>
					<th>21</th>
					<td>Disponible</td> 
					<td><input type="checkbox" checked data-toggle="toggle"></td>
					<td>2</td>
				</tr>
			</tbody>
		</thead>
	</table>


</div>
	<h5 class="ml-3" style="color: black">Incidencia</h5>
 	<div class="row">
 	<div class="col-4">
	  <textarea class="form-control "  placeholder="comente la situacion.."></textarea>
	  <span class="help-block">Notifique acerca cualquier  irregularidad que suted estime conveniente, no olvide seleccionar la hora ocurrida.</span>
	  
	  </div>

	  <div class="col-4">
				<h5 style="color: black">Hora</h5>
				<input class=" form-control" id="inputSeleccionado" type="text" value="ej: 21:50">

		</div>
</div>
	


</body>
  <footer>
  <div class="container-fluid text-center" style="background-color: grey" >
    <p class="copyright_text">&copy; copyright 2018<br>
    designed and developed by Los rompe telitas </p >    
  </div>


</footer>

   <!-- Bootstrap core JavaScript
      ================================================== -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="particles.js"></script>
    <script src="app.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSá/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>



  </body>
</html>
