<!DOCTYPE html>
<html lang="es">

<head>
  <title>ingreso cliente</title>
</head>
<body>
	<form> 
	<h1><dt>Nombre:</dt><input type="text" name="nombre"></h1>

	<h2><dt>Apellido:</dt><input type="text" name="apellido"></h2>

	<h3><dt>Rut:</dt><input type="id" name="rut"  maxlength="8" minlength="7"></h3>

	<h4><dt>Digito verificador</dt><select>
	  	<option value=1>1</option>
  		<option value=2>2</option>
 		<option value=3>3</option>
  		<option value=4>4</option>
  		<option value=5>5</option>
  		<option value=6>6</option>
 		<option value=7>7</option>
  		<option value=8>8</option>
  		<option value=9>9</option>
  		<option value=0>0</option>
 		<option value='k'>k</option>
	</select></h4>
</form>
<h5><input type="submit" name="subir" value="subir"></h5>
</body>


</html>